#upcoming-events h2,
#initiatives h2,
#committee h2 {
	margin-bottom: rem-calc(100);
}

#upcoming-events {
	background-size: cover;
	background-position: center center;
	.filter {
		height: 100%;
		background-color: rgba(243, 139, 0, .85);
	}

	.event {
		h3 {
			margin-bottom: rem-calc(15);
		}
		.date {
			margin-bottom: 0;
			font-weight: $font-bold;
		}
		.button {
			margin-bottom: 0;
		}
	}
}

#initiatives {
	.column {
		position: relative;
	}
	.owl-prev {
		left: rem-calc(15)!important;
	}
	.owl-next {
		right: rem-calc(15)!important;
	}
}

#committee {
	background-size: cover;
	.filter {
		height: 100%;
		background-color: rgba(30, 152, 138, .85);
	}
	.content-panel {
		padding-bottom: rem-calc(31);
	}
	h3 {
		margin-bottom: 0;
	}
	.member-title {
		font-weight: $font-bold;
		text-transform: uppercase;
		margin-bottom: rem-calc(20);
	}
	.social-media {
		@include social-media();
		li {
			a {
				background: transparent;
				border: 1px solid white;
				padding: .375rem;
				line-height: 1.3;
			}
		}
	}
	.committee-member {
		margin-bottom: rem-calc(112);
	}
}

#get-involved {
	p:last-of-type {
		margin-bottom: 0;
	}
}

#about-trevor {
	background-size: cover;
	background-position: center center;
	.filter {
		height: 100%;
		background-color: rgba(255, 70, 18, .85);
	}
	.button {
		margin-bottom: 0;
	}
}